body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_form{
    width: 1200px;
    background-image: linear-gradient( to bottom, rgba(192, 252, 183, 0.61), white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icone_doacoes{
    width: 100px;
    height: 100px;
}

.espaco_icone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_cadastro h1{
    color:#3B7302;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icone_go{
    width: 80px;
    height: 80px;

}

.espaco_icone_go{
    display: flex;
    justify-content: flex-end;
    width: 900px;
}

.container_form input[type="text"],
.container_form input[type="text"],
.container_form input[type="number"],
.container_form input[type="number"],
.container_form input[type="text"],
.container_form input[type="number"],
.container_form input[type="tel"],
.container_form input[type="email"], 
.container_form input[type="password"],
.container_form input[type="url"] {
    width: 900px;
    height: 25px;
    font-size: 18px;
    border: 1px solid #3B7302;
    font-family: 'Julius Sans One';
}

.container_form input[type="text"]::placeholder,
.container_form input[type="text"]::placeholder,
.container_form input[type="number"]::placeholder,
.container_form input[type="number"]::placeholder,
.container_form input[type="text"]::placeholder,
.container_form input[type="number"]::placeholder,
.container_form input[type="tel"]::placeholder,
.container_form input[type="email"]::placeholder,
.container_form input[type="password"]::placeholder,
.container_form input[type="url"]::placeholder {
    color:#3B7302;
}

.checkbox_termos{
    color: #3B7302;
    width: 900px;
    display: flex;
    justify-content: flex-start;

}

.titulo-envio{
    color:#3B7302;
}

.envio-fotos{
    color: #3B7302; 
    display: flex;
    margin-right: 511px;
}

.escolha-arquivos{
    margin-top: 79px;
}

.icone_anexararquivo{
    width: 100px;
    height: 100px;
}

.checkbox_termos a{
    color:#3B7302;
}

footer{
    width: 1200px;
}

@media (max-width:1199px) and (min-width:768px) {
    .container_form{
        width: 768px;
    }

    .container_form input[type="text"],
    .container_form input[type="text"],
    .container_form input[type="number"],
    .container_form input[type="number"],
    .container_form input[type="text"],
    .container_form input[type="number"],
    .container_form input[type="tel"],
    .container_form input[type="email"], 
    .container_form input[type="password"],
    .container_form input[type="url"] {
        width: 700px;
    }

    .checkbox_termos {
        width:700px;
    }

    .espaco_icone_go {
        width: 700px;
    }

    .envio-fotos{
        margin-right: 317px;
    }

    .copyright{
        width: 768px;
    }

    footer{
        margin-left: 427px;
    }
}

@media (max-width:787px) and (min-width:400px){
    
    .container_form{
        width: 400px;
    }

    .container_form input[type="text"],
    .container_form input[type="text"],
    .container_form input[type="number"],
    .container_form input[type="number"],
    .container_form input[type="text"],
    .container_form input[type="number"],
    .container_form input[type="tel"],
    .container_form input[type="email"], 
    .container_form input[type="password"],
    .container_form input[type="url"] {
        width: 350px;
    }
    
    .checkbox_termos{
        font-size: 15px;
        font-size: 13px;
        align-items: center;
    }
    .checkbox_termos {
        width:350px;
    }
    
    .icone_go {
        width: 60px;
        height: 60px;
    }

    .espaco_icone_go {
        width: 350px;
    }

    .envio-fotos{
        display: flex;
        margin-right: 64px;
        flex-direction: column;
    }

    .escolha-arquivos{
        margin-top: 10px;
    }

    .copyright{
        width: 400px;
    }

    footer{
        margin-left: 785px;
    }


}
