body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_form {
    width: 1200px;
    background-image: linear-gradient( to bottom, rgba(192, 252, 183, 0.61), white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cadastro_ongs {
    color:#3B7302;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 25px;
    font-family: 'Julius Sans One';
    font-size: 40px;
    font-weight: lighter;
    
}

.espaco_icone{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone_doacao{
    width: 100px;
    height: 100px;
    margin-left: 572px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .nome_ong input[type="text"],
    .endereco_ong input[type="text"],
    .cep_ong input[type="number"],
    .numero_ong input[type="number"],
    .complemento_ong input[type="text"],
    .cnpj_ong input[type="number"],
    .telefone_ong input[type="tel"],
    .email_ong input[type="email"], 
    .senha_ong input[type="password"],
    .url_ong input[type="url"] {
    width: 1122px;
    height: 25px;
    font-size: 18px;
    border: 1px solid #3B7302;
    font-family: 'Julius Sans One';
}

.nome_ong input[type="text"],
    .endereco_ong input[type="text"],
    .cep_ong input[type="number"],
    .numero_ong input[type="number"],
    .complemento_ong input[type="text"],
    .cnpj_ong input[type="number"],
    .telefone_ong input[type="tel"],
    .email_ong input[type="email"], 
    .senha_ong input[type="password"],
    .url_ong input[type="url"] {
    color:#3B7302;
}

.checkbox_termos{
    color: #3B7302;
    width: 900px;
    display: flex;
    justify-content: flex-start;
    margin-top: 68px;
    margin-left: -200px;

}

.checkbox_termos a{
    color:#3B7302;
}

.texto_enviofotos_ong {
    font-size: 21px;
    color: #3B7302;
    margin-top: 10px;
    margin-left: -548px;
}

.icone_anexararquivo{
    position: absolute;
    width: 110px;
    height: 110px;
    margin-top: -11px;
    margin-left: -543px;
}

input[type="file"] {
    width: 296px;
    height: 25px;
    margin-left: -439px;
    margin-top: 57px;
    }

.icone_go{
    width: 80px;
    height: 80px;
}

.icone_go{
    position: absolute;
    width: 96px;
    height: 82px;
    margin-left: 1045px;
    margin-top: 0px;
}
footer{
    width: 1200px;
    margin-top: 100px;
}

@media (max-width:1199px) and (min-width:768px) {

    .container_form{
        width: 768px;
    }

    .espaco_icone{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icone_doacao{
        width: 80px;
        height: 80px;
        margin-left: 489px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nome_ong input[type="text"],
    .endereco_ong input[type="text"],
    .cep_ong input[type="number"],
    .numero_ong input[type="number"],
    .complemento_ong input[type="text"],
    .cnpj_ong input[type="number"],
    .telefone_ong input[type="tel"],
    .email_ong input[type="email"], 
    .senha_ong input[type="password"],
    .url_ong input[type="url"] {
        width: 658px;
        height: 25px;
        font-size: 18px;
        border: 1px solid #3B7302;
        font-family: 'Julius Sans One';
    }
    
    .nome_pessoa input[type="text"]::placeholder,
    .endereco_pessoa input[type="text"]::placeholder,
    .cep_pessoa input[type="number"]::placeholder,
    .numero_pessoa input[type="number"]::placeholder,
    .complemento_pessoa input[type="text"]::placeholder,
    .cnpj_pessoa input[type="number"]::placeholder,
    .telefone_pessoa input[type="tel"]::placeholder,
    .email_pessoa input[type="email"]::placeholder,
    .senha_pessoa input[type="password"]::placeholder {
        color:#3B7302;
    }
    
    .checkbox_termos{
        color: #3B7302;
        width:700px;
        display: flex;
        justify-content: flex-start;
        margin-top: 46px;
        margin-left: 28px;
    
    }
    
    .checkbox_termos a{
        color:#3B7302;
    }
    
    .espaco_icone_go {
        width: 700px;
    }

    .icone_go{
        width: 80px;
        margin-left: 658px;
        margin-top: -4px;
    }

    .texto_enviofotos_ong {
        font-size: 21px;
        color: #3B7302;
        margin-top: 10px;
        margin-left: -320px;
    }

    .icone_anexararquivo{
        position: absolute;
        width: 110px;
        height: 110px;
        margin-top: -12px;
        margin-left: -320px;
    }
    
    input[type="file"] {
        width: 296px;
        height: 25px;
        margin-top: 54px;
        margin-left: -135px;
        }

    .copyright{
        width: 768px;
    }

    footer{
        margin-left: 427px;
        margin-top: 80px;
    }
}

@media (max-width:787px) and (min-width:400px) {
    
    .cadastro_ongs {
        color:#3B7302;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 25px;
        font-family: 'Julius Sans One';
        font-size: 20px;
        font-weight: lighter;
    }
    .container_form{
        width: 400px;
    }

    .espaco_icone{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .icone_doacao{
        width: 50px;
        height: 50px;
        margin-left: 504px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .nome_ong input[type="text"],
    .endereco_ong input[type="text"],
    .cep_ong input[type="number"],
    .numero_ong input[type="number"],
    .complemento_ong input[type="text"],
    .cnpj_ong input[type="number"],
    .telefone_ong input[type="tel"],
    .email_ong input[type="email"], 
    .senha_ong input[type="password"],
    .url_ong input[type="url"] {
        width: 350px;
        }  
    }
    
    .nome_pessoa input[type="text"]::placeholder,
    .endereco_pessoa input[type="text"]::placeholder,
    .cep_pessoa input[type="number"]::placeholder,
    .numero_pessoa input[type="number"]::placeholder,
    .complemento_pessoa input[type="text"]::placeholder,
    .cnpj_pessoa input[type="number"]::placeholder,
    .telefone_pessoa input[type="tel"]::placeholder,
    .email_pessoa input[type="email"]::placeholder,
    .senha_pessoa input[type="password"]::placeholder {
        color:#3B7302;
    }
    
    .checkbox_termos{
        color: #3B7302;
        width:700px;
        display: flex;
        justify-content: flex-start;
        margin-top: 46px;
        margin-left: 343px;
        font-size: 13px;
        }
    
    .checkbox_termos a{
        color:#3B7302;
    }
    
    .espaco_icone_go {
        width: 700px;
    }

    .icone_go{
        width: 80px;
        margin-left: 598px;
        margin-top: -4px;
    }

    .texto_enviofotos_ong {
        font-size: 14px;
        color: #3B7302;
        margin-top: -8px;
        margin-left: -130px;
    }

    .icone_anexararquivo{
        position: absolute;
        width: 80px;
        height: 80px;
        margin-top: -1px;
        margin-left: -130px;
    }
    
    input[type="file"] {
        width: 296px;
        height: 25px;
        margin-top: 41px;
        margin-left: 119px;
        }

    .copyright{
            width: 400px;

        }

    footer{
        margin-left: 768px;
        margin-top: 80px;
    }
    