body{
    display: flex;
    flex-direction:column;
}

.container_cadastro_ong{
    background: linear-gradient(to bottom, rgba(192, 252, 183, 0.61), white, rgba(192, 252, 183, 0.61));
}

.cadastro_ongs {
    color: #3B7302;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 25px;
    font-family: 'Julius Sans One';
    font-size: 40px;
    font-weight: lighter;
    
}

.icone_doacao{
    width: 80px;
    height: 80px;
    margin-top: -15px;
    margin-left:458px;
}

.formulario_cadastro{
    margin-top: -32px;
    margin-bottom: 50px;
    align-items: normal;

}


form {
    flex-direction: column;
    left: 131px;
    top: 383px;
    height: 1px;
  }

.nome_ong input[type="text"],
.endereco_ong input[type="text"],
.cep_ong input[type="number"],
.numero_ong input[type="number"],
.complemento_ong input[type="text"],
.cnpj_ong input[type="number"],
.telefone_ong input[type="tel"],
.email_ong input[type="email"], 
.senha_ong input[type="password"],
.url_ong input[type="url"] {
    width: 990px;
    font-size: 25px;
    border: 1px solid #3B7302;
    font-family: 'Julius Sans One';
}

.nome_ong input[type="text"]::placeholder,
.endereco_ong input[type="text"]::placeholder,
.cep_ong input[type="number"]::placeholder,
.numero_ong input[type="number"]::placeholder,
.complemento_ong input[type="text"]::placeholder,
.cnpj_ong input[type="number"]::placeholder,
.telefone_ong input[type="tel"]::placeholder,
.email_ong input[type="email"]::placeholder,
.senha_ong input[type="password"]::placeholder,
.url_ong input[type="url"]::placeholder {
    color:#3B7302;
}

.texto_enviofotos_ong{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #3B7302;
    margin-left: 0px;
    margin-top: -6px;

}

.icone_go{
    width: 80px;
    height: 80px;
}

.icone_anexararquivo{
    position: absolute;
    width: 110px;
    height: 110px;
    margin-top: -19px;
    margin-left:0px;
}

.checkbox_termos{
    position: absolute;
    width: 480px;
    height: 35px;
    left: 170px;
    top: 1141px;
}

.checkbox_termos{
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}

input[type="file"] {
    position: absolute;
    width: 296px;
    height: 25px;
    left: 287px;
    top: 1082px;
    }

.icone_go{
    position: absolute;
    width: 96px;
    height: 82px;
    left: 1130px;
    top: 1218px;
}

footer{
    width:1200px;
    margin-top: 1000px;
}