.desenvolvedores{
    display: flex;
    flex-direction: column;
}

.moldura_isa , .moldura_ju , .moldura_nery , .moldura_lari , .moldura_vini{
    width:200px;
    height: auto;
    border-radius: 50px;
}

.nome_isa , .nome_ju , .nome_nery , .nome_lari , .nome_vini{
    width: 200px;
    color: #3B7302;
}

.linha1 , .linha2{
    display: flex;

}
