body{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Julius Sans One', sans-serif;
    background-color: #ffffff;
    flex-direction: column;
}

.container-mae{
    width: 1200px;
}

.container1 , .container2{
    background: linear-gradient(to bottom, rgba(192, 252, 183, 0.61), white, rgba(192, 252, 183, 0.61));
}

.container2{
    border-top:2px solid #3B7302;
}

.titulo{
    color: #3B7302;
}

.iconeMedalha{
    width: 300px;
    height: 300px;
    padding: 30px;
}

.botoes{
    font-size: 25px;
}

.caixinha1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    justify-content: space-evenly;
    margin-left: 65px;
}

.botao a{
    text-decoration: none;
    color:#3B7302;
    border: 1px solid #3B7302;
}

.caixinha2{
    text-align: center;
    padding: 21px;
}

.caixinha2 p{
    font-size:25px;
}

.botao a{
    font-size: 25px;
}

.doacoes{
    font-size: 25px;
    padding-left: 114px;
    padding-top: 25px;
}

.pontuacao h2{
    font-size: 30px;
    color: #3B7302;
}

.estrelinha{
    display:flex;
}

.iconeEstrela{
    width: 100px;
    height: 100px;
}

.pontos p{
    font-size: 30px;
    align-items: center;
}

.caixinha4{
    padding-bottom: 20px;
    padding-left: 114px;
}

footer{
    width: 1200px;
}

@media (max-width:1199px) and (min-width:768px) {
    .container-mae{
        width: 768px;
    }

    .caixinha1 {
        margin-left: 0px;
        justify-content:flex-start ;
    }

    footer{
        width: 768px;
    }


}

@media (max-width:787px) and (min-width:400px){

    
    .container-mae{
        width: 400px;
    }

    .caixinha1 {
        margin-left: 0px;
        justify-content:center ;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 23px;
    }

    footer{
        width: 400px;
    }

    .iconeMedalha{
        width: 150px;
        height: 150px;
        margin-left: 59px;
    }

    .doacoes{
        padding-left: 41px;
    }

    .titulo{
        text-align: center;
    }

    .caixinha4{
        padding-left: 40px;
    }

    .botoes {
        text-align: center;
    }

}
