.container {
    width: 1200px;
    height: 100%;
    padding: 20px;
    padding-top: 0;
  }

  .titulo h1{
    color: #3B7302;
}
main{
    display: inline;
}
section{
    margin-bottom: 20px;
}
.doacao{
    height: 500px;
    width: 100%;
    background:  linear-gradient(180deg, rgba(192, 252, 183, 0.61)70%, white);
}
.formOng{
    display: flex;
}
.cl_Imagem{
    width: 400px;
    height: 400px;
}
.div_img{
    margin-top: 13%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
input[type="file"] {
    display: none;
} 

.grid, .gridtextArea{
    display: grid;
    margin-left: 6%;
    margin-top: 3%;
}
.gridtextArea{
    margin-top: 0;
    margin-left: 0%;

}
.flex{
    display: flex;
}
textarea{
    width: 670px;
    height: 140px;
    border: 1px solid #3B7302;
    margin-left: 6%;
    resize: none;
}
.desc{
    margin-left: 5%;
}
.ipt{
    width: 300px;
    padding: 5px;
}
.btn_publicar{
    padding: 4px;
    color: #3B7302;
    width: 80px;
    font-size: 1em;
    background-color: transparent;
    border: .22px solid #3B7302;
    margin-left: 82%;
    margin-top: 20px;
}
.btn_publicar:hover{
    text-decoration: dashed;
    color: rgb(0, 0, 0);
}
#img_label{
    text-decoration: none;
    margin-left: 35%;
    margin-right: auto;
    font-size: 1em;
    height: 55px;
    cursor: pointer;
}
#img_label:hover{
    text-decoration: underline;
    color: #3B7302;
}
.cl_titleANDarrecadacao{
    width: 800px;
    height: 400px;
}
.cl_itenANDfinalarrecadacao{
    width: 800px;
    height: 200px;

}


.img_doacao{
    margin-left: 40%;
    width: 200px;
    height: 200px;
}
.image_doacao{
    width: 1200px;
}

.doador, .kl{
    margin-left: 37%;
    margin-top: 10px;
}

#kilos, #ipt_doador{
    height: 20px;
    width: 280px;
}
.registrar{
    margin-top: 10px;
    margin-left: 55%;
    color: #3B7302;
    width: 80px;
    height: 30px;
    background-color: transparent;
    font-size: 1em;
    background-color: transparent;
    border: .22px solid #3B7302;
}
label{
    color: #3B7302;
}

@media  (max-width:1199px) and (min-width:768px) {
   
    .container{
        margin-left: -102px;
        width: 768px;
        height: 100%;
        padding: 7px;
        padding-top: 0;
    }
    
    .btn_publicar{    
        margin-left: 36%;
    }
    .flex{
        display: unset;
    }
    .gridtextArea{
        margin-top: 71px;
    }
    textarea{
        width: 311px;
    }
    .cl_Imagem{
        margin-left: 82px;
    }
    .doacao{
        width: 100%;
    }
    .doador, .kl{
        margin-left: 33%;
    }
    .copyright{
        width: 768px;
    }
    .registrar_doacao{
        width: 768px;
    }
    .img_doacao{
        margin-left: 38%;
    }
    .image_doacao{
        width: 768px;
    }
    main{
        min-width: 768px;
        max-width: 1199px;    
    }
    hr{
        min-width: 768px;
        max-width: 1199px;
        /* width: 100%; */
    }
    #img_label {
        margin-left: 17%;
    }
}

@media (max-width: 915px) {
    .container{
        margin-left: 15%;
    }
}
@media (max-width:787px) and (min-width:400px){
    *{
        width: 0 auto;
    }
    .gridtextArea{
        margin-top: 71px;
    }
    .btn_publicar{    
        margin-left: 36%;
    }
    textarea{
        width: 311px;
    }
    #img_label {
        margin-left: 34%;
    }
    
    .container{
        width: 400px;
        margin-left: 90%;
    }
    .formOng {
        display: unset;
    }
    .doacao{
        height: 1000px;
    }
    main{
        min-width: 400px;
        max-width: 787px;    
    }
    .img_doacao {
        margin-left: 13%;
    }
    .doador, .kl {
        margin-left: 13%;
    }
    hr{
        min-width: 400px;
        max-width: 787px;
        /* width: 100%; */
    }
    .registrar{
        margin-left: 68%;
    }
    #img_label {
        margin-left: 34%;
    }
    .cl_Imagem {
        margin-left: 4px;
        padding-top: 10px;
    }
    .flex{
        display: unset;
    }
    .image_doacao {
        width: 400px;
    }
    .img_doacao {
        margin-left: 24%;
    }

}