@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Julius Sans One', sans-serif;
    background-color: #ffffff;
}
.container {
    width: 1200px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /*Inicio do css - Nav*/
.menu {
    width: 1200px;
    height: 100px;
    background-color: rgba(199, 236, 193, 0.66);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex: 0 0 auto;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

.menu-list li {
    margin-left: 10px;
}

.menu-list li a {
    font-size: 25px;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.menu-list li a:hover {
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}

/*final do css - nav */

.container{
    background-color: #ffffff;
}

.sobre_nos{
    width: 1060px;
    height: 570px;
    display:flex;
    margin-top: 50px;
    background-color: #ffffff;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_sobrenos{
    width: 530px;
    height: 530px;
    border-radius: 50px;
    background-image: url(../img/Fotos/Foto\ -\ index\(530x530\).jpg);
    border: solid 1px #C0FCB7;
}

.texto_sobrenos{
    width:486px;
    height:488px;
    font-size: 35px;
    margin-left: 20px;
}

.icone-bot{
    display: flex;
    justify-content: flex-end;
}

.icone-chatbot{
    width: 80px;
    height: 80px;
}

.destaque{
    color:#3B7302;
}

.contador{
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom, rgba(192, 252, 183, 0.61), white); 
}

.contador_ong{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-right: 20px;

}

.contador_doadores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-left: 20px;
}

.palavra_contador{
    margin-right: 20px;
}

.numeros_contador{
    width: 59px;
    height: 92px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size:50px;
    border: 1px solid #3B7302;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nossas_ongs{
    margin-top: 50px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ongs{
    display: flex;
    justify-content: center;
    align-items: center;
}

.moldura{
    width: 260px;
    height: 300px;
    background-color: rgba(183, 236, 142, 0.6);
    border-radius: 49px;
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem_TemGenteComFome{
    width: 165px;
    height: 165px;
    border-radius: 20px;
    margin-top: 35px;
}

.imagem_haja{
    width: 165px;
    height: 165px;
    border-radius: 20px;
    margin-top: 35px;
}

.imagem_AmigosDoBem{
    width: 165px;
    height: 165px;
    border-radius: 20px;
    margin-top: 35px;
}

.nome_ong{
    margin-top: 25px;
    font-size: 20px;
}

.img_broto{
    background-image: url(../img/Fotos/Foto\ -\ index\ -\ mudas.jpeg);
    width: 1200px;
    height: 550px;
    margin-top: 50px;
}

.branco{
    width: 1200px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
}

.noticias{
    display:flex;
    justify-content: space-evenly;
    margin-top:20px;
}

.mold_noticias{
    background-color: rgba(123, 172, 99, 0.7);
    border-radius: 50px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.titulo_noticia{
    text-align: center;
    font-size: 20px;
}

.img_noticia{
    width:200px;
    height: 180px;
    margin-left: 50px;
}

.img_index_agrosust{
    border: 1px solid #3B7302;
    max-width: 200px;
    height: 180px;
    width: auto;
}

.img_index_Ia{
    border: 1px solid #3B7302;
    max-width: 200px;
    height: 180px;
}

.img_index_ModelosCultivo{
    border: 1px solid #3B7302;
    max-width: 200px;
    height: 180px;
    width: auto;
}

.saiba_mais{
    text-align: center;
}

.saiba_mais a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.saiba_mais a:hover{
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}

.colaboradores{
    display: flex;
    flex-direction: column;
    width: 1200px;
    background-image: linear-gradient(
        to top, rgba(192, 252, 183, 0.61), white); 
}

.titulo_colaboradores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
}

.logo_colaboradores{
    display: flex;
    flex-direction: column;
}

.linha1{
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-evenly;
    margin-top: 50px;
}

.logoFiap{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.logoMicrosoft{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.logoKraftHeinz{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.linha2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logoCroplife{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.logoBancoAlimentos{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.logoCaçafome{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

/*Inicio do CSS - rodapé */
.rodape{
    display:flex;
    background-color: #659B6A;
    justify-content: space-evenly;
}

.contato{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
    margin-bottom: 20px;
}

.tituloContato{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.end{
    display: flex;
    margin-top: 30px;
}

.icone_localizacao{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;

}

.endereco{
    font-size: 15px;
    margin-left: 10px;
}

.tel{
    display: flex;
    margin-top: 30px;
}

.icone_tel{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;

}

.telefone{
    font-size: 15px;
    margin-left: 10px;
}

.email{
    display: flex;
    margin-top: 30px;
}

.icone_email{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;

}

.e-mail{
    font-size: 15px;
    margin-left: 10px;
}

.redes{
    display: flex;
    flex-direction: column;
    width:200px;
}

.tituloRedes{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.icones_redes{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.icone_redes{
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}

.copyright{
    display: flex;
    justify-content: space-between;
    background-color: #8ABA89;
    height: 30px;
}

.desenvolvedores{
    margin-left:20px;
    margin-top: 10px;
}

.desenvolvedores a{
    text-decoration: none;
    color: #000;
}

.desenvolvedores a:hover{
    border-bottom: 1px solid black;
    padding-bottom: 1px;
}

.copy{
    margin-right:20px;
    margin-top: 10px;
}
/*final do rodapé */


 /* css página medalha */
.medalha{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* responsivo min-width 768px*/

    @media (max-width:1199px) and (min-width:768px) {
        
        /*menu*/
        .container {
            width: 768px;
          }

        .menu {
            width: 768px;
            height: 100px;
        }
        /*final menu*/
        .sobre_nos{
            width: 700px;
            height: 570px;
        }

        .menu-list li a {
            font-size: 20px;
        }

        .img_sobrenos{
            width: 500px;
            height: 500px;
        }  

        .texto_sobrenos{
            font-size: 29px;
        }

        .contador{
            width: 768px;
            height: 150px; 
        }

        .contador_ong{
            font-size: 30px;
        
        }
        
        .contador_doadores{
            font-size: 30px;
        }

        .numeros_contador{
            width: 40px;
            height: 60px;
            font-size:30px;
            margin:5px;
        }

        .img_broto{
            width: 768px;
            height: 500px;
            margin-top: 50px;
        }

        .titulo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 768px;
            
        }
        .titulo_noticia{
            text-align: center;
            font-size: 20px;
        }

        .noticias{
            width: 768px;
        }

        .mold_noticias{
            width: 200px;
            height: 280px;
            padding-top:30px;
            padding-bottom: 20px;
        }

        .img_index_agrosust , .img_index_Ia , .img_index_ModelosCultivo{
            width: 150px;
            height: 100px;
            margin-left: -25px;
            margin-top: 30px;
        }

        .colaboradores{
            width: 768px;
        }

        .titulo_colaboradores{
            width: 768px;
        }

        .logo_colaboradores{
            width:768px;
        }

        /*rodapé*/

        .rodape{
            width: 768px;
        }

        .contato{
            margin-right: 100px;
            margin-bottom: 20px;
        }
    }

    @media (max-width:787px) and (min-width:400px){

        
        /*menu*/
        .container {
            width: 400px;
          }

        .menu {
            width: 400px;
            height: 100px;
        }
        .menu-list {
            padding-right: 1px;
        }
        
        .menu-list li {
            margin-left: 5px;
        }
        
        .menu-list li a {
            font-size: 12px;
            padding: 1px;
        }

        /*final menu*/

        .sobre_nos{
            width: 400px;
            height: 570px;
            display: flex;
            flex-direction: column;
        }

        .img_sobrenos{
            width: 380px;
            height: 380px;
        }  

        .texto_sobrenos{
            font-size: 20px;
            width: 380px;
            height: 263px;
        }

        .contador{
            width: 400px;
            height: 150px;
            display: flex;
            flex-direction: column;
        }

        .contador_ong{
            font-size: 20px;
            margin-left: 62px;
        
        }
        
        .contador_doadores{
            font-size: 20px;
            margin-right: 20px;
        }

        .numeros_contador{
            width: 40px;
            height: 60px;
            font-size:30px;
            margin:5px;
        }

        .img_broto{
            width: 0px;
            height: 0px;
            margin-top: 50px;
        }

        .titulo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            
        }
        .titulo_noticia{
            text-align: center;
            font-size: 20px;
        }

        .noticias{
            width: 400px;
        }

        .mold_noticias{
            width: 200px;
            height: 280px;
            padding-top:30px;
            padding-bottom: 20px;
        }

        .img_index_agrosust , .img_index_Ia , .img_index_ModelosCultivo{
            width: 150px;
            height: 100px;
            margin-left: -25px;
            margin-top: 30px;
        }

        .titulo_colaboradores{
            width: 768px;
        }

        .logo_colaboradores{
            width:768px;
        }

        .ongs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .moldura{
            width: 260px;
            height: 300px;
        }

        .img_broto{
            width: 400px;
            height: auto;
            margin-top: 50px;
            background-color: #f2f2f2;
        }

        .branco{
            width: auto;
            height: auto;
        }

        .noticias{
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            justify-content: center;
            align-items: center;
            height: auto;
            margin-top:20px;
        }

        .mold_noticias{
            width: 260px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-evenly;
            border-top: 15px;
        }

        .img_index_agrosust, .img_index_Ia, .img_index_ModelosCultivo{
            margin-left: 4px;
        }

        .mold_noticias{
            margin-bottom: 10px;
        }

        .colaboradores{
            width: 400px;
        }

        .titulo_colaboradores{
            width: 400px;
            font-size: 15px;
            margin-top: 20px;
        }

        .logo_colaboradores{
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        
        .linha1{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            justify-content: space-evenly;
            margin-top: 50px;
        }

        .linha2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 50px;
            margin-bottom: 50px;
        }


        /*rodapé*/

        .rodape{
            width: 768px;
            display: flex;
            flex-direction: column;
            width: 400px;
        }

        .contato{
            margin-right: 100px;
            margin-bottom: 20px;
            margin-left: 50px;
        }

        .redes{
            margin-left: 94px;
            margin-bottom: 17px;
        }
        
        .copyright{
            font-size: 15px;
        }
        
        .desenvolvedores{
            font-size: 15px;
        }
    }